<center>
    <br>
    <br>
    <h1>Made with love and code <br> Pramesh Bajracharya
    </h1>
    <hr><br>
    <h3>You shouldn't be here!</h3>
    <br>
    <p>But you have choices.</p>
    <a href="/jokes">Get some Jokes</a><br>
    <a href="/quotes">Get some Quotes</a>
</center>